/*  ██████╗███████╗███████╗
/* ██╔════╝██╔════╝██╔════╝
/* ██║     ███████╗███████╗
/* ██║     ╚════██║╚════██║
/* ╚██████╗███████║███████║
/*  ╚═════╝╚══════╝╚══════╝
/*                          
*/
.audioBar {
    height: 20px;
    width: 100%;
    border-radius: none;
    position: relative;
    bottom: 3px;
}